[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-environ = "*"
djoser = "*"
social-auth-app-django = "*"
django-ckeditor = "*"
Pillow = "*"
mutagen = "*"
argon2-cffi = "*"
stripe = "*"
braintree = "*"
PyJWT = "==2.1.0"
boto3 = "*"
django-storages = "*"
Markdown = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
