[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-environ = "*"
djoser = "*"
social-auth-app-django = "*"
django-ckeditor = "*"
pillow = "*"
mutagen = "*"
argon2-cffi = "*"
stripe = "*"
braintree = "*"
pyjwt = "*"
boto3 = "*"
django-storages = "*"
markdown = "*"
gunicorn = "*"
whitenoise = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
